* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
}

header,
main,
footer {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.above-the-fold-spacer {
  height: 1px;
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
  box-shadow: 10px 10px 20px rgba(53, 13, 13, 0.2);
  transform: translate(1px);
  position: relative;
  max-width: 1440px;
}

.header {
  background-color: rgb(205 250 233);
  position: sticky;
  top: 0;
  z-index: -20;
  max-height: 77px;
}

.header--offset {
  margin-bottom: 450px;
}

.hero-container {
  position: absolute;
  height: 100vh;
  max-height: 700px;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
}

.hero__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.hero-content {
  padding: 1px;
}

.hero-content__h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  color: #000;
}

video {
  width: 100%;
  height: auto;
}

.nav {
  position: relative;
  height: 60px;
  line-height: 60px;
  max-width: 600px;
  gap: 5px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link {
  color: #70aff3;
}

.link--offset {
  display: inline-block;
  padding: 10px 15px;
  line-height: 1;
  text-decoration: none;
}

.nav__link:hover {
  border-radius: 22%;
  border-bottom: 1px solid aqua;
}

.h1 {
  font-size: 140px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 2;
}

.hero-content__h1--effect {
  mix-blend-mode: screen;
  background: #fff;
  color: #000;
}